<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>

  <link rel="stylesheet" href="/stylesheets/auth/sign-up.css">
</head>
<body>

  <div class="wrapper">
    <form action="/auth/sign-up" method="POST">
      <h2>Sign Up</h2>

      <div class="input-field">
        <input type="text" name="username" id="username" required>
        <label for="username">Username</label>
      </div>

      <div class="input-field">
        <input type="password" name="password" id="password" required>
        <label for="password">Password</label>
      </div>

      <div class="input-field">
        <input type="password" name="confirmPassword" id="confirmPassword" required>
        <label for="confirmPassword">Confirm Password</label>
      </div>

      <button type="submit">Sign up</button>

      <div class="register">
        <p>Already have an account? <a href="/auth/sign-in">Log in</a></p>
      </div>
    </form>
  </div>
</body>
</html>