<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Post index page</h1>
    <a href="/posts/new">Add a New Post</a>


    <ul>
    <% getAllPosts.forEach((post) => { %>
    <li>

<%= post.title%>.
<%= post.content%>.
<a href="/posts/<%= post._id %>">See Details</a>

        
    </li>
    <% }) %>
    </ul>

</body>
</html>